/* @tailwind base;
@tailwind components;
@tailwind utilities; */



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-amber: 252,211,77;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
body {
  color: rgb(var(--foreground-rgb));
  /* background-color: rgb(241 245 249); */
  background-color: rgb(195, 197, 200);
  
}
.container {
  padding-left: 6rem;
  padding-right: 6rem;
}
.categories-container {
  height: 270px;
  overflow-x: hidden;
}
.categories {
  border-bottom: 1px dashed rgb(59, 131, 246);

}
.categories:hover {
 background-color: rgb(59, 131, 246);
 transform: scale(1.02);
}

@media screen and (min-width: 768px) {
  .menuHidden{
    display: none;
    background-color: rgb(5, 14, 14);
  }
  
  .showMenu-H{
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
  .homecircle {
    width: 50px;
  }

}

