@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-amber: 252,211,77;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(241 245 249);
  
}
.container {
  padding-left: 6rem;
  padding-right: 6rem;
}
.categories {
  background-color: rgb(59 130 246);

}
.categories:hover {
 background-color: rgb(254, 254, 254);
 transform: scale(1.02);
}
.showMenu{
  
}
@media screen and (min-width: 641px) {
  .menuHidden{
    display: none;
    background-color: rgb(5, 14, 14);
  }
  
  .showMenu-H{
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
